.navbar-img-brand {
    width: 50%;
}

.genre-column {
    width: 100px;
}

.card-paragraph {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-paragraph:hover {
    overflow: visible;
    white-space: normal;
}

.unselectable {
    user-select: none;
}


.book-link {
    position: relative;
    display: block;
}

.book-link:hover .book-image {
    filter: brightness(0.5); /* Darken the image */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color to enhance the effect */
}

.book-link:hover .overlay {
    opacity: 1; /* Fade in the overlay */
}

.overlay-title, .overlay-author {
    color: white; /* Ensure text is visible against dark background */
    text-align: center;
}

.card-book {
    min-height: 250px; /* Fixed height for the card */
    max-height: 355px;
    overflow: hidden; /* Prevent overflow */
    width: 100%; /* Ensure the card takes full width of its parent */
}


.book-image {
    width: 100%; /* Full width of the card */
    height: 300px; /* Fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    transition: filter 0.3s ease;
}





