.navbar-img-brand {
    width: 50%;
}

.genre-column {
    width: 100px;
}

.card-paragraph {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-paragraph:hover {
    overflow: visible;
    white-space: normal;
}
